html, body, header{ height: 100%; }


body{
	margin: 0;  
	background-image:url("../images/background01.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:white;
}
