<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
<servlet>
  <servlet-name>RegistUser</servlet-name>
  <servlet-class>RegistUser</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>RegistUser</servlet-name>
    <url-pattern>/servlet/RegistUser</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>SignupPage</servlet-name>
  <servlet-class>SignupPage</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>SignupPage</servlet-name>
    <url-pattern>/servlet/SignupPage</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>MemberTop</servlet-name>
  <servlet-class>MemberTop</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>MemberTop</servlet-name>
    <url-pattern>/servlet/MemberTop</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>LoginPage</servlet-name>
  <servlet-class>LoginPage</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/servlet/LoginPage</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>Logout</servlet-name>
  <servlet-class>Logout</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlet/Logout</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>ChangeMyInfo</servlet-name>
  <servlet-class>ChangeMyInfo</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ChangeMyInfo</servlet-name>
    <url-pattern>/servlet/ChangeMyInfo</url-pattern>
</servlet-mapping>

</web-app>
