@charset "utf-8";

/*見出し・段落・水平線のスタイル指定*/
h2 {
	font-size:100%; margin-bottom:10px; padding-left:25px;
	font-size:95%; border-bottom:solid 1px #cccccc;
	//background-image:url("images/icon.gif");
	background-repeat:no-repeat; background-position:left center;
}
h3 {font-size:100%a;}	/* h3 { font-size:100%; margin-left:5px;} */
p {font-size:90%; margin:10px 0px 10px 10px; text-indent:10px;} */

/* リンクの色 */
a:link { color: #0000ff; }
a:visited { color: #000080; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }

/*============================================
 * 全般的なスタイル
 * ============================================*/
* {
* 	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.0;	/*全要素の行の高さを1.5倍にする*/
	color:#000000;		/*文字色*/

} 
body {
	background-color:#ffffff;	/*ページ全体の背景色*/
	text-align:center;		/*IE6以下でセンタリングするための対策*/
}
div#pagebody {
	width:800px; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:center;	/*テキストの配置を左揃えにする*/
	//background-image:url("../../sky1.jpg");	/*内容全体の背景*/
	background-repeat:repeat-y;		/*背景画像を縦方向に繰り返す*/
	background-color:#ffffff;		/*内容全体の背景色*/
}

/*============================================
 * ヘッダ
 * ============================================*/
div#header {
	height:70px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	//background-image:url("images/bg_header.jpg");	/*ヘッダ部分の背景画像*/
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#eeeeee;		/*ヘッダ部分の背景色*/
}
h1 {
	padding:20px 0px 0px 0px;		/*見出し内容の位置調整*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}
h1 a {text-decoration:none;} 			/*リンクの下線を無くす*/

/*============================================
 * リンク
 * ============================================*/
div#link {
	width:600px; margin: 0px 100px 0px 100px;	/*幅の指定と位置調整*/
}

/*============================================
 * html
 * ============================================*/
div#html {
	width:250px; margin-right:10px; padding-top:10px; /*幅の指定と位置調整*/
	float:left;					/*カラムを左寄せにする*/
	//background-image:url("images/bar_news.gif");	/*中央カラムの背景画像*/
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
}
div#html ul {
	text-align: left;
        margin-left:10px;               /*左マージンを10px空ける*/
        font-size:100%;                 /*フォントサイズを90%にする*/
}
div#html li {
        list-style-type:none;                /*リストマーカー無しにする*/
        line-height:1.8;                /*行の高さを1.8倍にする*/
}

/*============================================
 * java
 * ============================================*/
div#java {
	width:250px; padding-top:10px; 		/*幅の指定と位置調整*/
	float:right;				/*カラムを右寄せにする*/
	//background-image:url("images/bar_pickup.gif");	/*右カラムの背景画像*/
	background-repeat:no-repeat;		 /*背景画像を繰り返さない*/
}
div#java ul {
	text-align: left;
	margin-left:10px; 		/*左マージンを10px空ける*/
	font-size:100%;			/*フォントサイズを90%にする*/
}
div#java li {
	list-style-type:none; 		/*リストマーカー無しにする*/
	line-height:1.8;		/*行の高さを1.8倍にする*/
}


/*============================================
 * フッタ
 * ============================================*/
div#footer {
	margin: 500px 0px 0px 0px;
	height:30px; text-align:center;
	clear:both;					/*回り込みを解除する*/
	//background-image:url("images/bg_footer.jpg");	/*フッタ部分の背景画像*/
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
	background-color:#eeeeee;			/*フッタ部分の背景色*/
}
address {
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:small;			 /*フォントサイズを小さくする*/
	padding:10px 0px 0px 0px;		 /*要素内容の位置調整*/
}
