body{
	background-color : gray; /* BACKGROUND COLOR*/
	margin : 0;
}

/*** BASE GROUND ***/
#base_ground{
	background-color : white;
	max-width : 1150px;
	margin : 0 auto;
}

/*****************************************
 *                HEADER                 *
 *****************************************/

/*** HEADER ***/
header{
	text-align : center;
	padding-bottom:2em;
}

/*** HEADER IMAGE ***/
#header_image{
	height : 300px;
	background-image:url("/MyApp/webpro/WebPro2016_6/assets/communities/001/top_image.jpg");
	background-size : cover;
}

#header_description{
	width : 80%;
	margin : 0 auto;	/* centering */
	font-size : small;
}



/*****************************************
 *             MAIN CONTENTS             *
 *****************************************/

/*** FRAMING ***/
#contents_table{
	display : table;
	width : 100%;
}

#contents_base{
	display : table-cell;
	max-width : 890px;
}

#sidebar_base{
	display : table-cell;
	
	width : 260px;
}


/*** A TALK ELEMENT ***/
div.talk{
	border : 2px solid black;
	margin : 5px;
	width : 100%;
	display: table;
}

div.talk div.image{
	display: table-cell;
	width: 80px;
	height: 80px;
	vertical-align: top;
}

div.talk div.image img{
	margin: 0;
	width: auto;
	height: auto;
	max-width: 80px;
	max-height: 80px;
	vertical-align: middle;
}

div.talk div.contents{
	display: table-cell;
	vertical-align: top;
	width: 100%;
}

/*** MESSAGE ***/
div.talk p{
	margin: 0 0 0 2.5em;
}

/*** DATE ***/
div.talk small{
	margin: 0 0 0 0.7em;
}

/*** NAME ***/
div.talk h2{
	margin: 0 0 0 0.5em;
	font-size: small;
}

